*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body{
    background: url(./IMG20210828154212.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed ;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: aquamarine;
    background: transparent;
    backdrop-filter: blur(10px);
}
header .navbar{
    font-size: 20px;
    color: blanchedalmond;
    margin: 20px;
}
header .navbar ul li a{
    text-decoration: none;
    color: chartreuse;
}
header .navbar ul{
    float: right;
    list-style-type: none;
}
header .navbar ul li{
    display: inline-block;
    margin-right: 20px;
}
button:hover{
    background-color: lightblue;
    color: white;
}
#check{
    display: none;
}
.btn-toggle{
    display: none;
}
@media screen and (max-width: 800px) {
    .btn-toggle{
        display: inline-block;
    }
    header .navbar ul li{
        display: none;
        margin: 20px;
    }
    ul{
        position: fixed;
        width: 40%;
        height: 50vh;
        top: 90px;
        left: -200px;
        border-radius: 10px;
        padding: 20px;
        background-color:lightcoral;
        transition: all 0.5s;
    }
    header .navbar ul li{
        display: block;
    }
    #check:checked ~ul{
        left: 0px;
    }
}
.container1{
    position: fixed;
    background-color: aquamarine;
    /* background: transparent;
    backdrop-filter: blur(5px); */
    border: 1px solid white;
    border-radius: 10px;
    width: 400px;
    text-align: center;
    height: 250px;  
    justify-content: center;
    top: 30%;
    left: 30%;
}
#usl{
    position: absolute;
    display: flex;
    left: 75%;
    top: 19%;
      
}
#usl2{
    position: absolute;
    display: flex;
    left: 75%;
    top: 34%;
}
.fa-solid{
    position: absolute;
    left: 95%;
    top: 0%;
    border-radius: 10px;
}