body{
    background-color: rgb(136, 238, 20);
}
#div1{
    background-color: blue;
    font-family: 'Times New Roman', Times, serif;
    border: double;
}
.div2{
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
    border: dotted 5PX;
}